<div class="container my-5">
    <div class="row">
      <!-- Image Section -->
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="assets/yourshow.png" class="img-fluid" alt="List Your Show" width="50%"/>
      </div>
  
      <!-- Content Section -->
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h2 class="mb-4 text-dark">List Your Show</h2>
        <p class="lead">
          Send your details and theatre details to 
          <a href="mailto:showspot.booking@gmail.com">showspot.booking&#64;gmail.com</a>.
        </p>
      </div>
    </div>
  </div>
  